.tabs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.navigation-tab {
    margin-top: 30px;
    height: 100px;
    width: 600px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-shrink: 0;
}

.navigation-tab-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    flex-shrink: 0;
    cursor: none;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

.navigation-tab-item.active {
    width: 210px;
}

.navigation-tab-item.active .navigation-tab__icon {
    transform: translate(0px, -10px);
    transform: scale(1.5);
    color: #4298e7;
}

.navigation-tab-item.active .navigation-tab__txt {
    opacity: 1;
    transform: translate(0, 10px);
}

.navigation-tab__icon {
    display: block;
    transition-duration: 0.3s;
    line-height: 1;
    transform: translate(0, 11px);
    transform: scale(1.5);
}

.navigation-tab__icon:hover {
    transform: scale(1.6);
}

.navigation-tab__txt {
    display: block;
    font-weight: 400;
    font-size: 20px;
    color: inherit;
    opacity: 0;
    transition-duration: 0.3s;
    transform: translate(0, 20px);
    user-select: none;
}

.tab-content {
    border: 3px solid black;
    position: relative;
    height: 70vh;
    width: 70vw;
}
