.projects-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 10px 10px 10px;
    background: white;
}

.dark .projects-container {
    background: rgb(47, 47, 47);
}

.projects-container .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    column-gap: 0px;
    row-gap: 40px;
    min-width: 70%;
    min-height: 100%;
    height: fit-content;
    padding-bottom: 50px;
    border-radius: 0 10px 10px 10px;
    background: white;
}

.dark .projects-container .projects {
    background: rgb(47, 47, 47);
}

.project-wrapper {
    display: flex;
    height: 23vh;
}

.project-title {
    padding-left: 10px;
    position: absolute;
    top: 5px;
    width: 260px;
    font-size: 18px;
    color: inherit;
    font-family: var(--fontStack);
}

.project-201 .project-title {
    font-size: 16px;
}

.project-tool {
    width: max-content;
    color: rgb(137, 137, 137);
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 210px;
    font-family: var(--fontStack);
}

.dark .project-tool {
    color: #aaaaaa;
}

.dark .project-title {
    color: #FAF0E6;
}

.tile {
    border-radius: 10px;
    height: 260px;
    width: 370px;
    margin: 0px 50px 120px 35px;
    background-color: #ffffff;
    display: inline-block;
    position: relative;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
}

.dark .tile {
    background-color: #3a3a3a;
}

.tile:hover {
    cursor: none;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
}

.tile img {
    position: absolute;
    top: -15px;
    left: -15px;
    height: 200px;
    width: 354px;
    border-radius: 10px;
    transition: all .3s ease-out;
    z-index: 256;
    box-shadow: 0px 20px 77px -17px rgba(0, 0, 0, 0.64);
}

.tile img:hover {
    cursor: pointer;
    filter: blur(7px);
    transform: scale(1.03);
}

.major-framework {
    display: flex;
    position: absolute;
    left: 0px;
    z-index: 1024;
    width: max-content;
    height: 50px;
}

.platform-icon {
    border-radius: 5px;
    background: linear-gradient(145deg, #000000, #7b7b7b);
    position: absolute;
    top: 0;
    left: -45px;
    width: 50px;
    height: 50px;
}

.dark .platform-icon {
    background: linear-gradient(145deg, #ffffff, #cacaca);
}

.platform-icon:hover {
    animation: bouncing 0.5s .1s;
}

.tile .text {
    position: absolute;
    padding: 30px;
    height: 100%;
}

.tile h1 {
    font-weight: 300;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile h2 {
    font-weight: 100;
    margin: 20px 0 0 0;
    font-style: italic;
    transform: translateX(200px);
}

.tile p {
    font-weight: 300;
    margin: 20px 0 0 0;
    line-height: 25px;
    transform: translateX(-200px);
    transition-delay: 0.2s;
}

.tile .animate-text {
    font-weight: 600;
    font-size: 1rem;
    color: black;
    font-family: var(--fontStack);
    transition: all 0.6s ease-in-out;
    color: gray;
}

.tile .project-links {
    width: 470px;
    position: absolute;
    bottom: 3rem;
    padding: 1rem;
    border-radius: 5px;
}

.tile .project-links .git {
    position: absolute;
    font-size: small;
    top: 40px;
    left: 17rem;
}

.tile .project-description {
    position: absolute;
    font-size: 1.1rem;
    top: -30px;
    left: -30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    align-items: center;
    pointer-events: none;
    z-index: 512;
    color: rgb(255, 255, 255);
    transition: all 1.5s ease-in-out;
    -webkit-text-stroke-color: black;
    text-shadow: 0px 1px 4px #23430C;
}

.tile img:hover + .project-description {
    opacity: 1;
}

.wrap {
    display: flex;
    flex-direction: column;
    margin: 50px auto 0 auto;
    width: 100%;
    align-items: space-around;
    max-width: 1200px;
}