.projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 10px 10px 10px;
}

.dark .projects-container {
    background: rgb(47, 47, 47);
}

.projects-container .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    column-gap: 0px;
    row-gap: 40px;
    min-width: 70%;
    min-height: 100%;
    height: fit-content;
    padding-bottom: 50px;
    border-radius: 0 10px 10px 10px;
    background: white;
}

.dark .projects-container .projects {
    background: rgb(47, 47, 47);
}

.project-wrapper {
    display: flex;
    height: 23vh;
}

.project-title {
    padding-left: 10px;
    position: absolute;
    top: 0px;
    left: -10px;
    width: 260px;
    font-size: small;
    color: inherit;
    font-family: var(--fontStack);
}

.project-tool {
    width: max-content;
    color: rgb(137, 137, 137);
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 12.5rem;
    font-family: var(--fontStack);
}

.dark .project-tool {
    color: #aaaaaa;
}

.dark .project-title {
    color: #FAF0E6;
}

.tile {
    border-radius: 10px;
    height: 200px;
    width: 280px;
    margin: 0px 50px 120px 35px;
    background-color: #ffffff;
    display: inline-block;
    position: relative;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
}

.dark .tile {
    background-color: #3a3a3a;
}

.tile:hover {
    cursor: none;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
}

.tile .project-preview {
    position: absolute;
    top: -15px;
    left: -15px;
    height: 141px;
    width: 250px;
    border-radius: 10px;
    transition: all .3s ease-out;
    z-index: 256;
    box-shadow: 0px 20px 77px -17px rgba(0, 0, 0, 0.64);
}

.tile .project-preview:hover {
    cursor: pointer;
    filter: blur(7px);
    transform: scale(1.03);
}

.major-framework {
    display: flex;
    position: absolute;
    left: 0px;
    z-index: 1024;
    width: max-content;
    height: 50px;
}

.platform-icon {
    border-radius: 5px;
    background: linear-gradient(145deg, #000000, #7b7b7b);
    position: absolute;
    top: .5rem;
    left: -2.9rem;
    width: 2.5rem;
    height: 2.5rem;
}

.dark .platform-icon {
    background: linear-gradient(145deg, #ffffff, #cacaca);
}

.platform-icon:hover {
    animation: bouncing 0.5s .1s;
}

.tile .text {
    position: absolute;
    padding: 30px;
    height: 100%;
}

.tile h1 {
    font-weight: 300;

    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile h2 {
    font-weight: 100;
    margin: 20px 0 0 0;
    font-style: italic;
    transform: translateX(200px);
}

.tile p {
    font-weight: 300;
    margin: 20px 0 0 0;
    line-height: 25px;
    transform: translateX(-200px);
    transition-delay: 0.2s;
}

.tile .animate-text {
    font-weight: 600;
    font-size: 1rem;
    color: black;
    font-family: var(--fontStack);
    transition: all 0.6s ease-in-out;
    color: gray;
}

.tile .project-links {
    width: 470px;
    position: absolute;
    bottom: 3rem;
    padding: 1rem;
    border-radius: 5px;
}

.tile .project-links .git {
    position: absolute;
    font-size: small;
    top: 3rem;
    left: 12rem;
}

.tile .project-description {
    position: absolute;
    font-size: .9rem;
    top: -30px;
    left: -30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    align-items: center;
    pointer-events: none;
    z-index: 512;
    color: rgb(255, 255, 255);
    transition: all 1.5s ease-in-out;
    -webkit-text-stroke-color: black;
    text-shadow: 0px 1px 4px #23430C;
}

.tile img:hover + .project-description {
    opacity: 1;
}

.wrap {
    display: flex;
    flex-direction: column;
    margin: 50px auto 0 auto;
    width: 100%;
    align-items: space-around;
    max-width: 1200px;
}

.shimmer:hover {
    color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
}

.dark .shimmer:hover {
    color: rgba(0, 0, 0, 0.1);
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff), color-stop(0.5, #222));
    background: -moz-gradient(linear, left top, right top, from(#fff), to(#fff), color-stop(0.5, #222));
    background: gradient(linear, left top, right top, from(#fff), to(#fff), color-stop(0.5, #222));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #fff;
}

.grow {
    animation: grow .5s ease;
}

@keyframes grow {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

@-moz-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}


@media (max-width: 1900px) {
    .tabs-container {
        max-width: 100vw;
    }
}
@media (max-width: 1838px) {
    .tabs-container {
        max-width: 65vw;
    }
}
@media (max-width: 1700px) {
    .tabs-container {
        max-width: 70vw;
    }
}
@media (max-width: 1576px) {
    .tabs-container {
        max-width: 75vw;
    }
}
@media (max-width: 1500px) {
    .tabs-container {
        max-width: 100vw;
    }
}
@media (max-width: 1400px) {
    .tabs-container {
        max-width: 60vw;
    }
}
@media (max-width: 1300px) {
    .tabs-container {
        max-width: 65vw;
    }
}
@media (max-width: 1200px) {
    .tabs-container {
        max-width: 70vw;
    }
}
@media (max-width: 1100px) {
    .tabs-container {
        max-width: 75vw;
    }
}

@media (max-width: 1000px) {
    .tabs-container {
        max-width: 80vw;
    }
}

@media (max-width: 924px) {
    .tabs-container {
        max-width: 55vw;
    }
}

@media (max-width: 872px) {
    .tabs-container {
        max-width: 60vw;
    }
}

@media (max-width: 800px) {
    .tabs-container {
        max-width: 65vw;
    }
}

@media (max-width: 738px) {
    .tabs-container {
        max-width: 68vw;
    }
}

@media (max-width: 704px) {
    .tabs-container {
        max-width: 70vw;
    }
}

@media (max-width: 689px) {
    .tabs-container {
        max-width: 58vw;
    }
}

@media (max-width: 660px) {
    .tabs-container {
        max-width: 60vw;
    }
}

@media (max-width: 640px) {
    .tabs-container {
        max-width: 62vw;
    }
}

@media (max-width: 620px) {
    .tabs-container {
        max-width: 65vw;
    }
}

@media (max-width: 600px) {
    .tabs-container {
        max-width: 68vw;
    }
}

@media (max-width: 580px) {
    .tabs-container {
        max-width: 70vw;
    }
}

@media (max-width: 560px) {
    .tabs-container {
        max-width: 75vw;
    }
}

@media (max-width: 540px) {
    .tabs-container {
        max-width: 78vw;
    }
}

@media (max-width: 520px) {
    .tabs-container {
        max-width: 81vw;
    }
}

@media (max-width: 500px) {

    .tile .project-preview {
        height: 127px;
        width: 223px;
    }
    
    .major-framework {
        top: .9rem;
    }
    
    .platform-icon {
        top: .9rem;
        width: 2.3rem;
        height: 2.3rem;
    }

    .tile {
        height: 180px;
        width: 240px;
    }

    .tile .text {
        height: 100%;
    }
    
    .tile h1 {
        font-weight: 200;
        margin: 0;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    }
    
    .tile h2 {
        font-weight: 100;
        transform: translateX(200px);
    }
    
    .tile p {
        font-weight: 300;
        margin: 20px 0 0 0;
        line-height: 25px;
        transform: translateX(-200px);
        transition-delay: 0.2s;
    }
    
    .tile .project-links .git {
        top: 3rem;
        left: 10rem;
    }
    
    .tile .project-description {
        font-size: .9rem;
        top: -30px;
        left: -30px;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .project-title {
        top: 10px;
        font-size: small;
    }

    .project-tool {
        font-size: 11px;
        top: 13px;
        left: 12.5rem;
    }

    .projects-container .projects {
        row-gap: 10px;
    }

    .tabs-container {
        max-width: 71vw;
    }
}


@media (max-width: 476px) {

    .tile .project-preview {
        height: 127px;
        width: 223px;
    }
    
    .major-framework {
        top: .9rem;
    }
    
    .platform-icon {
        top: .9rem;
        width: 2.3rem;
        height: 2.3rem;
    }

    .tile {
        height: 180px;
        width: 240px;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .tile .text {
        height: 100%;
    }
    
    .tile h1 {
        font-weight: 200;
        margin: 0;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    }
    
    .tile h2 {
        font-weight: 100;
    }
    
    .tile p {
        font-weight: 300;
        margin: 20px 0 0 0;
        line-height: 25px;
        transform: translateX(-200px);
        transition-delay: 0.2s;
    }
    
    .tile .project-links .git {
        top: 3rem;
        left: 10rem;
    }
    
    .tile .project-description {
        font-size: .9rem;
        top: -30px;
        left: -30px;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .project-title {
        top: 10px;
        font-size: small;
    }

    .project-tool {
        font-size: 11px;
        top: 13px;
        left: 12.5rem;
    }

    .projects-container .projects {
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        max-width: 63vw;
    }

    .tabs-container {
        max-width: 65vw;
    }
}

@media (max-width: 471px) {

    .tile .project-preview {
        height: 114px;
        width: 200px;
    }
    
    .major-framework {
        top: 1.4rem;
    }
    
    .platform-icon {
        top: .9rem;
        width: 2rem;
        height: 2rem;
    }

    .tile {
        height: 155px;
        width: 216px;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .tile .text {
        height: 100%;
    }
    
    .tile h1 {
        font-weight: 200;
        margin: 0;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    }
    
    .tile h2 {
        font-weight: 100;
    }
    
    .tile p {
        font-weight: 300;
        margin: 20px 0 0 0;
        line-height: 25px;
        transform: translateX(-200px);
        transition-delay: 0.2s;
    }
    
    .tile .project-links .git {
        top: 3rem;
        left: 8.5rem;
    }
    
    .tile .project-description {
        font-size: .9rem;
        top: -30px;
        left: -30px;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .project-title {
        top: 10px;
        font-size: small;
    }

    .project-tool {
        font-size: 11px;
        top: 13px;
        left: 12.5rem;
    }

    .projects-container .projects {
        align-items: center;
        justify-content: center;
        row-gap: 0px;
        max-width: 63vw;
    }

    .tabs-container {
        max-width: 65vw;
    }
}


