@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&family=Kosugi+Maru&family=M+PLUS+Rounded+1c&family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');


.monogram {
  font-family: 'Sawarabi Mincho', serif;
  fill: var(--colorTextTitle);
  transition: .3S;

  &:hover {
    fill: #8e8e8e;
  }

  & .monogram__text {
    animation: stroke 2s;
    stroke-width: .01;
  }
}

@keyframes stroke {
  0%, 12% {
    fill: rgba(72,138,20,0);
    stroke: var(--colorTextTitle);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: .2;
  }
  70% {
    fill: rgba(72,138,20,0);
    stroke: var(--colorTextTitle);
  }
  80% {
    fill: rgba(72,138,20,0);
    stroke: var(--colorTextTitle);
    stroke-width: .3;
  }
  100% {
    fill: var(--colorTextTitle);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
