
.journey__title {
	font-size: 2em;
	padding-top: 3rem;
	margin: 0 0 3rem;
	text-align: center;
	z-index: 128;
}

.cv_pdf__title {
	margin: 0 0 1rem;
}

.journey__title-text {
	font-size: 1.5em;
	font-weight: bold;
}

.timeline-container {
	padding-left: 100px;
	display: flex;
	flex-direction:row;
	z-index: 128;
	min-height: 100vh;
}

.journey-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 120vh;
}

.resume-container {
	z-index: 64;
	display: flex;
	flex-direction: column;
}

.resume-pdf {
	cursor: none;
}

.download-button {
	margin-top: 15px;
	max-width: 270px;
	align-self: center;
}

.to_online_cv {
	align-self: center;
	margin-bottom: 25px;
}

.resume-container {
	opacity: 0;
	transform: scale(0.8);
	transition: opacity 0.6s ease-out, transform 1s ease-out;
}

.resume-container--visible {
	opacity: 1;
	transform: scale(1);
	animation: popIn 0.6s ease-out forwards;
}

@keyframes popIn {
	0% {
		opacity: 0;
		transform: scale(0.8);
	}
	50% {
		opacity: 1;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}