button {
	font: 1em/1.5 "IBM Plex Sans", sans-serif;
}

h1 {
	font-size: 2em;
	margin: 0 0 3rem;
	padding-top: 1.5rem;
	text-align: center;
}

.timeline-container {
	padding-left: 100px;
	display: flex;
	flex-direction:row;
}

.journey-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}