* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--trans-dur: 0.3s;
	--trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
}

a {
	transition: color var(--trans-dur);
}

.timeline__item-header .button {
	background-color: var(--fg);
	border-radius: 0.25em;
    margin-right: 1em;
	transition:
		background-color calc(var(--trans-dur) / 2) linear,
		color var(--trans-dur);
	-webkit-tap-highlight-color: transparent;
}

.timeline__title-text {
	font-size: 1.5em;
	font-weight: bold;
}
.button-group {
	display: flex;
	gap: 0.4em;
	margin-bottom: 1.5em;
}

.time-container {
	padding: 20px 50px;
    width: 40vw;
}

.time-container.work-experience {
    animation: fadeInRight 1s ease-out;
}

.time-container.education {
    animation: fadeInLeft 1s ease-out;
}

.timeline {
	margin: auto;
	padding: 1.5em;
	width: 100%;
	max-width: 50em;
}

.timeline__arrow {
	background-color: transparent;
	border-radius: 0.25em;
	cursor: pointer;
	flex-shrink: 0;
	margin-inline-end: 0.25em;
	outline: transparent;
	width: 2em;
	height: 2em;
	transition:
		background-color calc(var(--trans-dur) / 2) linear,
		color var(--trans-dur);
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}
.timeline__arrow:focus-visible,
.timeline__arrow:hover {
	background-color: hsl(var(--hue),10%,50%,0.4);
}
.timeline__arrow-icon {
	display: block;
	pointer-events: none;
	/* transform: rotate(0deg); */
	transition: transform var(--trans-dur) var(--trans-timing);
	width: 100%;
	height: auto;
}
.timeline__date {
	font-size: 0.833em;
	line-height: 2.4;
	color: #909090;
}
.timeline__dot {
	background-color: currentColor;
	border-radius: 50%;
	display: inline-block;
	flex-shrink: 0;
	margin: 0.625em 0;
	margin-inline-end: 1em;
	position: relative;
	width: 0.75em;
	height: 0.75em;
}
.timeline__item {
	position: relative;
	padding-bottom: 2.25em;
}
.timeline__item:not(:last-child):before {
	background-color: currentColor;
	content: "";
	display: block;
	position: absolute;
	top: 1em;
	left: 2.625em;
	width: 0.125em;
	height: 100%;
	transform: translateX(-50%);
}
[dir="rtl"] .timeline__arrow-icon {
	transform: rotate(90deg);
}
[dir="rtl"] .timeline__item:not(:last-child):before {
	right: 2.625em;
	left: auto;
	transform: translateX(50%);
}
.timeline__item-header {
	display: flex;
}
.timeline__item-body {
	border-radius: 0.375em;
    padding: 10px;
	overflow: hidden;
	margin-inline-start: 4em;
	height: 0;
}
.timeline__item-body-content {
	background-color: hsl(var(--hue),10%,50%,0.2);
    text-overflow: clip;
	opacity: 0;
	padding: 1em;
	visibility: hidden;
    font-size: larger;
    font-family: Gotham;
	transition:
		opacity var(--trans-dur) var(--trans-timing),
		visibility var(--trans-dur) steps(1,end);
}
.timeline__item-body-skills {
	padding-top: 1rem;
	display: flex;
	flex-direction: row;
	transition:
		opacity var(--trans-dur) var(--trans-timing),
		visibility var(--trans-dur) steps(1,end);
}
.timeline__item-body-skills > * {
	background-color: hsl(var(--hue),10%,50%,0.2);
	border-radius: 0.25em;
	margin-inline-end: 0.5em;
	padding: 0.25em 0.5em;
	min-width: 49.2%;
	min-height: fit-content;
}
.timeline__meta {
	width: 100%;
}
.timeline__title {
	font-size: 1.5em;
	line-height: 1.333;
}
/* Expanded state */
.timeline__item-body--expanded {
	height: auto;
}
.timeline__item-body--expanded .timeline__item-body-content {
	opacity: 1;
	visibility: visible;
	transition-delay: var(--trans-dur), 0s;
}
.timeline__arrow[aria-expanded="true"] .timeline__arrow-icon {
	transform: rotate(90deg);
}

.skill-link {
	color: inherit;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*.timeline__item {
    opacity: 0; 
    animation-fill-mode: forwards; 
} */