
.projects__title {
	font-size: 2em;
	padding-top: 3rem;
	margin: 0 0 3rem;
	text-align: center;
	z-index: 128;
}

.tab_title {
	font-size: 1.4em;
}

.projects__title-text {
	font-size: 1.5em;
	font-weight: bold;
}

.projects-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 120vh;
	z-index: 128;
}

@media (max-width: 704px) {
    .projects__title-text {
		font-size: 1.3em;
	}
}

@media (max-width: 500px) {
    .projects__title-text {
		font-size: 1.2em;
	}
}